@use '../../styles/base/mixins' as *;
// @use '../../styles/base/resets';
@use '../../styles/base/variables' as *;

.link {
  // @include selected-link($primary-500);
  color: $gray-500;
  text-decoration: none;
  transition-duration: 500ms;

  &:hover {
    color: $primary-300;
    transition: color .5s ease-in-out;
  }

  &.selected {
    color: $primary-500;
    font-weight: bold;
  }
}
